<div class="row">
  <h3><%= @user.username %></h3>
  
        <ul class="list-group">
        <% @user.meets.each do |meet| %>
          <li class="list-group-item">
          </li>
        <% end %>
      </ul>
  
</div>

